<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TS-Framework</title>

    <link href="/css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <section>
        <h1>TS-Framework</h1>
        <p>
            Awesome, you're running your first TS-Framework application! <br />
            You're currently looking at <code>IndexController#index()</code>
        </p>
    </section>
</header>

<footer>
    <p>Powered by <a href="https://github.com/tsframework">TS-Framework</a></p>
</footer>

<script type="text/javascript" src="/js/app.js" ></script>
</body>
</html>